@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 16px;
    }
    
    .container{
        height: 100vh;
        width: 100vw;
    
        display: grid;
        grid-template-columns: minmax(16.5%,220px) 83.5%;
        grid-template-rows: 68px auto 181px;
        grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";
    }
    
    nav{
        grid-area: nav;
    }
    
    header{
        grid-area: header;
    }
    
    main{
        grid-area: main;
    }
    
    footer{
        grid-area: footer;
    }

@media (max-width: 1039px) {
    *{
        font-size: 14px;
    }
  }