@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

body{
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 68px auto auto;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav footer";
}
